h1 {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: left;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    text-align: center;
}

h3 {
    background-color: rgb(134, 222, 238);
    color: black;
    text-decoration: underline;
    text-align: right;
}

.cloud {
    color: rgb(0, 255, 221);
}

body {
    font-family: cursive;
}